canvas {
  position: absolute;
  left: 100px;
  top: 0;
  width: auto;
  height: auto;
  background-image: url("20241024_170121.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
}
